@model TheGamerR00M.Models.PostModel
@{
    ViewBag.Title = "gotoPost";
}
<div class="Posts">
    <div class="PostImageContainerInPost">
        <img id="postPic" src="@Model.PostImageURL" />
    </div>
    <br />
    <div class="PostContainerInPost">
        <h2>@Model.PostTitle</h2>
        <div>
            @Html.Raw(Model.PostBody)
        </div>
        <br />
        @Model.Post_Author
        @Model.Post_CDate
    </div>
</div>