@model TheGamerR00M.Models.PostModel
<meta name="description" content="@Model.PostTitle @Model.PostBody.Replace("<br />", " ")">
@{
    ViewBag.Title = "gotoPost";
}
<div class="Posts">
    <div class="PostImageContainerInPost">
        <img id="postPic" src="@Model.PostImageURL" />
    </div>
    <br />
    <div class="PostContainerInPost">
        <p>
            <h2>@Model.PostTitle</h2>
            <div>
                @Html.Raw(Model.PostBody)
            </div>
        </p>
        <br />
        @Model.Post_Author
        @Model.Post_CDate
    </div>
</div>