@model TheGamerR00M.Models.PostModel
@{
    ViewBag.Title = "gotoPost";
    var hrefString = Request.Url.ToString();
}

@section AdditionalMeta
{
    <meta property="og:url" content="@hrefString" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.PostTitle" />
    <meta property="og:description" content="@Model.PostBody.Replace("<br />", " ")" />
    <meta property="og:image" content="@Model.PostImageURL" />
}

<div class="Posts">
    <div class="PostImageContainerInPost">
        <img id="postPic" src="@Model.PostImageURL" />
    </div>
    <br />
    <div class="PostContainerInPost">
        <p>
            <h2>@Model.PostTitle</h2>
            <div>
                @Html.Raw(Model.PostBody)
            </div>
        </p>
        <br />
        @Model.Post_Author
        @Model.Post_CDate
    </div>
    <div class="fb-share-button" data-href="@hrefString" data-layout="button"></div>
</div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>