@model List<TheGamerR00M.Models.PostModel>
@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>
<div class="Posts">
    @foreach (var post in Model)
    {
        string hrefURL = "http://www.gamerr00m.org/Reviews/" + @post.PostID;
        <div class="PostContainer">
            <div class="PostImageContainer">
                <a href="@hrefURL">
                    <img src="@post.PostImageURL" />
                </a>
            </div>
            <div class="PostTitleBody">
                <h3>
                    <a href="@hrefURL">@post.PostTitle</a>     
                </h3>
                    <h4>@post.Post_Author || @post.Post_CDate</h4>
                <div class="PostBody">
                    <p>@Html.Raw(post.PostBody)</p>
                </div>
            </div>
        </div>
        <br />
    }
</div>

